<?xml version="1.0"?>
<config>
    <modules>
        <Payair_Gate>
            <version>0.0.1</version>
        </Payair_Gate>
    </modules>
    <frontend>
        <routers>
            <gate>
                <use>standard</use>
                <args>
                    <module>Payair_Gate</module>
                    <frontName>payaircallback</frontName>
                </args>
            </gate>
        </routers>
        <layout>
            <updates>
                <gate>
                    <file>payair.xml</file>
                </gate>
            </updates>
        </layout>
        <translate>
            <modules>
                <Payair_Gate>
                    <files>
                        <default>Payair_Gate.csv</default>
                    </files>
                </Payair_Gate>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <gate>
                <class>Payair_Gate_Model</class>
            </gate>
        </models>
        <helpers>
            <gate>
                <class>Payair_Gate_Helper</class>
            </gate>
        </helpers>
        <blocks>
            <gate>
                <class>Payair_Gate_Block</class>
            </gate>
        </blocks>
    </global>
    <default>
        <payment>
            <gate>
                <active>1</active>
                <model>gate/checkout</model>
                <title>Payair</title>
                <order_status>1</order_status>
                <payment_action>authorize</payment_action>
            </gate>
        </payment>
    </default>
</config> 
